html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
}

#toggleButton {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  padding: 10px 20px;
  z-index: 1001;
}

#controlBar {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 1000;
}
