html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
}

#toggleButton {
  font-size: 24px;
  padding: 10px 20px;
  margin-left: 10px;
}

#controlBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

#controlBar.collapsed {
  width: auto;
  justify-content: flex-start;
}

#controlBar.collapsed > .toolButton {
  display: none;
}
